/*状态栏开始*/
.big{
    width: 7.5rem;
    height: 13.34rem;
    /* background: #ffac13;*/
    margin: 0 auto;
}
body{
    position: fixed;
}
.header{
    width: 100%;
    height: 0.5rem;
    margin: 0 auto;
}
.header img{
    width: 100%;
    height: 0.4rem;
    opacity:0.4;
}
/*状态栏结束*/
.back img{
    height: 100%;
    width: 100%;
    margin-top: -0.5rem;
}
.black{
    width: 7.5rem;
    height: 13.34rem;
    background: #000000;
    top: 0;
    position: absolute;
    opacity: 0.45;
}
.zhuce{
    width: 1.53rem;
    height: 0.54rem;
    background: rgb(255,178,12);
    font-size: 0.28rem;
    color: #ffffff;
    text-align: center;
    padding-top: 0.12rem;
    border-width: 0.1rem;
    border-radius: 0.8rem;
    margin-left: 5.58rem;
    margin-top: -12.7rem;
    position: absolute;
}
.middle-1{
    width: 4.38rem;
    height: 3.62rem;
    background: #ffffff;
    opacity: 0.3;
    margin-top: -8rem;
    margin-left: 1.6rem;
    position: absolute;
    border-width: 0.1rem;
    border-radius: 0.15rem;
}
.middle-2{
    width: 5.07rem;
    height: 3.49rem;
    background: #ffffff;
    opacity: 0.5;
    margin-top: -8.1rem;
    margin-left: 1.25rem;
    position: absolute;
    border-width: 0.1rem;
    border-radius: 0.15rem;
}
.middle-3{
    width: 5.61rem;
    height: 3.62rem;
    background: #ffffff;
    margin-top: -8.5rem;
    margin-left: 1rem;
    position: absolute;
    border-width: 0.1rem;
    border-radius: 0.15rem;
}
.tishi{
    width: 2.2rem;
    height: 0.22rem;
    /*    background: #f96868;*/
    margin-left: 1.77rem;
    margin-top: 0.22rem;
    display: flex;
    justify-content: space-between;
}
.tishi img{
    width: 0.22rem;
    height: 0.22rem;
}
.tishi-1{
    font-size: 0.18rem;
    color: rgb(255,12,58);
    /*    background: #16b0dc;*/
    margin-top: -0.02rem;
}
.name{
    width: 4.05rem;
    height: 0.5rem;
    /*  background: #ff2edd;*/
    margin-top: 0.1rem;
    margin-right: auto;
    margin-bottom: 0.3rem;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
}
p{
    width: 2.5rem;
    float: right;
    margin-top: -0.175rem;
    margin-right: 0.2rem;
    outline: none;
    border: none;
}
.psw{
    width: 4.05rem;
    height: 0.5rem;
    /*  background: #ff2edd;*/
    margin-top: 0.3rem;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
}
.psw img{
    width: 0.5rem;
    height: 0.5rem;
}
.name img{
    width: 0.5rem;
    height: 0.5rem;
}
.name-1{
    width: 3.27rem;
    height: 0.47rem;
    border-width: 0.05rem;
    border-radius: 0.8rem;
    border-style: solid;
    border-color: rgb(255,178,12);
}
.name-1-a{
    width: 0.06rem;
    height: 0.06rem;
    background: rgb(255,178,12);
    border-radius: 50%;
    margin-top: 0.17rem;
    margin-left: 0.17rem;
}
.name-1 input{
    width: 2.5rem;
    float: right;
    margin-top: -0.175rem;
    margin-right: 0.2rem;
    outline: none;
    border: none;
}
.button{
    width: 2rem;
    height: 0.54rem;
    background: #666666;
    font-size: 0.28rem;
    color: rgb(255,255,255);
    border-width: 0.1rem;
    border-radius: 0.8rem;
    text-align: center;
    margin-left: 2rem;
    margin-top: 0.3rem;
    padding-top: 0.15rem;
}
/*第三方登陆开始*/
.third{
    width: 2.27rem;
    height: 0.26rem;
    /* background: #f96868;*/
    margin-top:-3.26rem;
    margin-left: 2.7rem;
    position: absolute;
    display: flex;
    justify-content: space-between;
}
.cir-1{
    width: 0.1rem;
    height: 0.1rem;
    background: #cb972e;
    border-radius: 50%;
    margin-top: auto;
    margin-bottom: auto;
}
.cir-2{
    width: 0.1rem;
    height: 0.1rem;
    background: #ffb20c;
    border-radius: 50%;
    margin-top: auto;
    margin-bottom: auto;
}
.zi{
    font-size: 0.28rem;
    color: #ffffff;
}
.footer{
    width: 4.02rem;
    height: 0.8rem;
    /*    background: #f96868;*/
    margin-top: -1.82rem;
    margin-left: 1.95rem;
    position: absolute;
    display: flex;
    justify-content: space-between;
}
.footer img{
    width: 0.8rem;
    height: 0.8rem;
}
/*第三方登陆结束*/